.card {
    background-color: #e7d9ef;
    border-radius: 15px;
    width: 40vmin;
    height: 65vmin;
}
.infoCard {
    display: flex;
    flex-direction: column;
    background-color: #F3EDEE;
    position: relative;

}
.infoCard-icon {
    opacity: 0.5;
    transition: opacity 0.4s;
    font-size: 5.3vmin;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 4vmin;
    z-index: 2;
}

.infoCard:hover > .infoCard-icon {
    opacity: 1;
}



.photoCard {
    transition: transform 0.4s linear, box-shadow 0.475s;
}

.photoCard:hover {
    transform: scale(110%);
    box-shadow: 0 0 3vmin black;
}

.photoCard > img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

#card-title {
    color: #222437;
    font-weight: 400;
    margin: 0px;
    font-size: 3vmin;
}

#card-subtitle {
    color: #222437;
    font-weight: 400;
    margin-top: 0.75vmin;
    font-size: 1.8vmin;
}

.card-subtitle-words {
    display: inline-block;
}

