.card {
    background-color: #e7d9ef;
    border-radius: 15px;
    width: 40vmin;
    aspect-ratio: 1/1.6;
}
.infoCard {
    display: flex;
    flex-direction: column;
    background-color: #F3EDEE;
    transition: transform  0.2s linear;
    position: relative;
    overflow: hidden;

}
.infoCard-icon {
    opacity: 0.5;
    transition: opacity 0.4s;
    font-size: 5.3vmin;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 4vmin;
    z-index: 2;
}

.infoCard:hover > .infoCard-icon {
    opacity: 1;
}

.infoCard:hover > div > div > .card-subtitle-word {
    opacity: 1;
    transform: translateY(0%);
}

.card-subtitle-letter {
    display: inline-block;
    font-size: 2vmin;
    margin: 0.1vmin;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(40%);
}

.infoCard:hover > div > div > .card-subtitle-words {
    opacity: 1;
}
.photoCard > img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

#card-title {
    color: #222437;
    font-weight: 400;
    margin: 0;
    font-size: 3vmin;
}

.card-subtitle {
    color: #222437;
    font-weight: 400;
    margin-top: 0.75vmin;
}

.card-content {
    padding: 5.5vmin;
    display: grid;
    place-items: center;
    user-select: none;
    position: absolute;
    left:0;
    right:0;
    font-size: 2vmin;
}

.colour-container {
    width: 75.5vmin;
    height: 75.5vmin;
    top: calc(50% - 37.74vmin);
    left: calc(50% - 37.74vmin);
    pointer-events: none;
    transform-origin: center;
    transform: rotateZ(45deg);
    position: absolute;
    z-index: 0;
    display: flex;

}

.colour-child {
    width: 25%;
    height: 100%;
    transition: transform 0.5s;
    pointer-events: none;
}

.colour-child:nth-child(odd) {
    background-color: aliceblue;
    transform: translateY(100%) ;
}

.colour-child:nth-child(even) {
    background-color: var(--Main-brand-color);
    transform: translateY(-100%);
}

.card:hover > .colour-container > .colour-child:nth-child(even),
.card:hover > .colour-container > .colour-child:nth-child(odd) {
    transform: translateY(0);
}