* {
    background-color: #F3EDEE;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #9495AC;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
}

.navbar > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navbar > ul > li {
    margin: 10px;
}

.navbar > ul, .navbar > ul > li, .navbar > ul > li > a {
    background-color: inherit;
    text-decoration: none;
}

.navbar > div > a {
    background-color: inherit;
    text-decoration: none;
    margin: 5px;
}

.genlnk {
    background-color: inherit;
}

#logo {
    width: 75px;
    height: 75px;
    background-color: inherit;
    border-radius: 50%;
    transition: all 0.5s ease;
}

#logo:hover {
    transform: rotate(180deg);
}

.unfin {
    opacity: 50%;
}
.git{
    padding: 0.75rem 0.6rem;
    border-radius: 1.25rem;
    background-color:#F3EDEE;
}

.btn {
    color: aqua;
    padding: 0.75rem 0.6rem;
    border-radius: 1.25rem;
    background-color: #F3EDEE;
}