:root {
    background-color: #F3EDEE;
    font-family: Work Sans, serif;
    text-decoration: none;
    --footer-height: 2.5rem;
    --Main-brand-color: #8840AE;
}
* {
    color: #222437;
    margin: 0;
    padding: 0;
}

.text {
    letter-spacing: 0.025rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Main-brand-color);
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
}

.navbar > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    background-color: #6d338b;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 70px;
}
.navbar > ul > li {

    background-color: inherit;
}

.centerIt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.divider {
    border-right-style: solid;
    height: 40px;
    border-right-width: 3px;
    border-color: rgba(172, 121, 198, 0.7);
}

.navbar > ul > li > a {
    transition: all 0.375s;
    margin:5px;
    color: #F3EDEE;

}

.navbar > ul > li >a:hover {
    background-color: #ac79c6;
    border-radius: 1.25rem;
    padding: 0.8rem 0.7rem;
}

.navbar > div > a {
    text-decoration: none;
    margin: 5px;
}

.genlink {
    background-color: inherit;
}

#logo {
    width: 75px;
    height: 75px;
    background-color: inherit;
    border-radius: 50%;
}

.gitLink {
    padding: 0.75rem 0.6rem;
    border-radius: 1.25rem;
    background-color: #ac79c6;
    transition: all 0.25s;
    color: #F3EDEE;
}

.mailLink {
    padding: 0.75rem 0.6rem;
    border-radius: 1.25rem;
    background-color: #ac79c6;
    transition: all 0.25s;
    color: #F3EDEE;
}

.gitLink:hover {
    background-color:  #cfb3df;
}

.mailLink:hover {
    background-color: #cfb3df;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrapper {
    padding-bottom: var(--footer-height);
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: #6d338b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #F3EDEE;
}

#main-body {
    background: radial-gradient(rgba(255, 255, 255, 0.85) 8%, transparent 8%);
    background-position: 0% 0% ;
    background-size: 3vmin 3vmin;
}
#main-body {
    background-color: rgba(26, 26, 26, 0.575);
}

section {
    position: relative;
    min-height: 100vh;
    display: flex;
    border-bottom: 1px solid black;
}

#title-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #e7d9ef;
    border-radius: 15px;
    width: 40vmin;
    height: 65vmin;
}
.infoCard {
    display: flex;
    flex-direction: column;
    

}

.photoCard {

}

.photoCard > img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.s-1-sml-bg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #361a46;
    padding: 2vmin;
    border-radius: 15px;
    gap: 5vmin;
}